SECRET_KEY=troque-por-uma-chave-secreta-forte
DEBUG=False

DB_NAME=papellog
DB_USER=postgres
DB_PASSWORD=troque-pela-senha
DB_HOST=localhost
DB_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1,papellog.onrender.com
